@model Dostawca
@{
    ViewData["Title"] = "Dostawca";
}
<partial name="_Notification" />

<div class="container p-3">
        <div class="card shadow mb-4" style="margin:15px">
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Dostawca</h6>
        </div>
        <br />

        <div class="card-body">

            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NazwaDostawcy)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NazwaDostawcy)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AdresDostwacy)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AdresDostwacy)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ZakresDzialalnosci)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ZakresDzialalnosci)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DataZatwierdzenia)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DataZatwierdzenia)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DataWygasniecia)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DataWygasniecia)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Uwagi)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Uwagi)
                </dd>
            </dl>

            <a class="btn btn-danger delete"
            style="margin-right:5px; float:right;"
               data-id="@Model.Id"
               data-controller="Dostawca"
               data-action="Delete"
               data-body-message="Czy napewno chcesz usunąć tego dostawcę?">
                <i class="bi bi-trash3-fill"></i> Usuń
            </a>
            @*<a href="@Url.Action("KartaProjektu", "KartaProjektu", new { id = Model.Id })" class="btn btn-primary" role="button"><i class="bi bi-file-text"></i> Karta Projektu</a>*@
            <a asp-controller="Dostawca" asp-action="Index" class="btn btn-primary"><i class="bi bi-arrow-90deg-left"></i> Powrót</a>
            <a asp-controller="Dostawca" asp-action="Upsert" asp-route-id="@Model.Id" class="btn btn-warning" style="margin-right:5px; float:right;">
                <i class="bi bi-pencil-square"></i> Edytuj
            </a>

            

            <span class="btn btn-xs btn-primary" style="margin-right:5px; float:right;" id="@Model.Id" onclick="createModal('@Url.Action("Edit", "Dostawca", new { id = Model.Id })')">Aktualizuj datę</span>


        </div>

        <div class="modal" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="modelContent">
                </div>
            </div>
        </div>

        @*<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="margin:20px">
            <div class="modal-dialog" role="document">
            <div class="modal-content" id="modelContent">
            </div>
            </div>
            </div>
            </div>*@


        <script>
            function createModal(url){
                  $('#modelContent').load(url);
                  $('#myModal').modal('show');
            }
        </script>
