@model IEnumerable<Dostawca>
@{
    ViewData["Title"] = "Dostawcy";
}
<partial name="_Notification" />

<div class="container p-3">
        <div class="card shadow mb-4" style="margin:15px">
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Dostawcy</h6>
        </div>
        <div class="col-12 text-end">
            <a asp-controller="Dostawca" asp-action="Upsert" class="btn btn-success" style="margin-right:15px; margin-top:15px">
                <i class="bi bi-plus-circle"></i> &nbsp; Dodaj dostawcę
            </a>
        </div>

            <div class="card-body">
                <table class="table table-bordered table-striped" style="width:100%" id="tblData">
                    <thead>
                        <tr>
                            <th>
                                Nazwa dostawcy
                            </th>
                            <th>
                                Adres dostwacy
                            </th>
                            <th>
                                Zakres dzialalnosci
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model)
                        {

                            <tr>
                                <td width="25%">
                                    @obj.NazwaDostawcy
                                </td>
                                <td width="30%">
                                    @obj.AdresDostwacy
                                </td>
                                <td width="30%">
                                    @obj.ZakresDzialalnosci
                                </td>

                                <td style="text-align: center">

                                    
                                 @*   <a class="btn btn-danger delete"
                               data-id="@obj.Id"
                               data-controller="Dostawca"
                               data-action="Delete"
                               data-body-message="Czy napewno chcesz usunąć tego dostawcę?">
                                        <i class="bi bi-trash3-fill"></i> Usuń
                                    </a>*@
                                    <a asp-controller="Dostawca" asp-action="DetailsDostawca" asp-route-id="@obj.Id" class="btn btn-info">
                                        <i class="bi bi-info-circle"></i> Szczegóły
                                    </a>
                                    
                                </td>
                            </tr>
                            
                        }
                    </tbody>
                </table>
            </div>
        
    </div>
</div>

@section Scripts{
    

    <script type="text/javascript">
            $(document).ready( function () {
        $('#tblData').DataTable({
                            "language": {
                                "sProcessing": "Przetwarzanie...",
                                "sLengthMenu": "Pokaż _MENU_ pozycji",
                                "sZeroRecords": "Nie znaleziono pasujących pozycji",
                                "sInfoThousands": " ",
                                "sInfo": "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
                                "sInfoEmpty": "Pozycji 0 z 0 dostępnych",
                                "sInfoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                                "sInfoPostFix": "",
                                "sSearch": "Szukaj:",
                                "sUrl": "",
                                "oPaginate": {
                                    "sFirst": "Pierwsza",
                                    "sPrevious": "Poprzednia",
                                    "sNext": "Następna",
                                    "sLast": "Ostatnia"
                                }
                            },
                            "paging": true,
                            "ordering": true,
                            "info": false
                        });
    } );
    </script>
    }