@model PrzewodnikPracyVM
@{
    ViewData["Title"] = "Index";
    var query =
    from wym in Model.Wymagania
    join prze in Model.PrzewodnikiPracy on wym.Id equals prze.WymaganieId
    select new
    {
        wym.Nazwa,
        wym.Id,
        prze.WynikPrzewodnika,
        IdPrze = prze?.Id
    };
}
<partial name="_Notification" />

<div class="container p-3">
        <div class="card shadow mb-4" style="margin:15px">
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Przewodniki Pracy</h6>
        </div>
        <br />
        <div class="card-body">
            @if (@Model.Przeglad.WynikPrzegladu == "Nie wykonano")
            {
                <p>Nie ukończono przeglądu zamówienia.</p>
            }
            else
            {
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                Nazwa wymagania
                            </th>

                            <th>
                                Wynik przeglądu
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in query)
                        {
                            <tr>
                                <td width="30%">
                                    @obj.Nazwa
                                </td>
                                <td width="50%">
                                    @if (obj.WynikPrzewodnika == null)
                                    {
                                        <div>-</div>
                                    }
                                    else
                                    {
                                        @obj.WynikPrzewodnika
                                    }

                                </td>
                                <td width="20%">
                                    <a asp-controller="PrzewodnikPracy" asp-action="PrzewodnikPracy" asp-route-id="@obj.IdPrze" class="btn btn-info">
                                        Wyświetl
                                    </a>
                                    @*<a href="@Url.Action("PrzewodnikPracy", "PrzewodnikPracy", new { id = obj.Id })" class="btn btn-info" role="button">Wyświetl</a>*@
                                </td>



                            </tr>
                        }
                    </tbody>
                </table>
            }
            <a asp-controller="Zamowienie" asp-action="DetailsZamowienia" asp-route-id="@Model.Zamowienie.Id" class="btn btn-primary">
                <i class="bi bi-arrow-90deg-left"></i> Wróć do zamówienia
            </a>


        </div>

    </div>
</div>
