@model PrzewodnikPracyVM
@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification" />

<div class="container p-3">


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Operacje</h6>
        </div>
        <br />

        <div class="col-12 text-end">
            <a asp-controller="PrzewodnikPracy" asp-action="AddOperacja" asp-route-idWymagania="@Model.Wymaganie.Id" class="btn btn-success" style="margin-right:25px">
                <i class="bi bi-plus-circle"></i> &nbsp; Utwórz operację
            </a>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            TrescOperacji
                        </th>
                        <th>
                            DataWykonania
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.Operacje)
                    {
                        <tr>
                            <td width="20%">
                                @obj.TrescOperacji
                            </td>
                            <td width="20%">
                                @obj.DataWykonania
                            </td>
                            <td width="20%">
                                <a asp-controller="PrzewodnikPracy" asp-action="EditOperacja" asp-route-id="@obj.Id" asp-route-idWymagania="@Model.Wymaganie.Id" class="btn btn-info" style="width:40%; ">
                                    <i class="bi bi-pencil-square"></i> Edytuj
                                </a>

                                <a class="btn btn-danger delete"
                               data-id="@obj.Id"
                               data-controller="PrzewodnikPracy"
                               data-action="DeleteOperacja"
                               data-body-message="Czy napewno chcesz usunąć tą operację?">
                                    <i class="bi bi-trash3-fill"></i> Usuń
                                </a>

                            </td>
                        </tr>

                    }
                </tbody>
            </table>
            <br />

            
            <form method="post" asp-action="Operacja" enctype="multipart/form-data">
                <input asp-for="PrzewodnikPracy.Rysunek" hidden />
                <div class="mb-3">
                    <input type="file" id="formFile" name="file" class="form-control" />
                    <button type="submit" class="btn btn-info" onclick="return ValidateInput()" style="margin-top:15px; margin-bottom:15px">Zatwierdź</button>
                    <div style="display: inline">
                        <div style="display: inline">
                    @if (Model.PrzewodnikPracy.Rysunek != null){
                    <a class="btn btn-danger delete" style="margin-top:15px; margin-bottom:15px"
                               data-id="@Model.PrzewodnikPracy.Id"
                               data-controller="PrzewodnikPracy"
                               data-action="DeleteRysunek"
                               data-body-message="Czy napewno chcesz usunąć ten rysunek?">
                                    <i class="bi bi-trash3-fill"></i> Usuń
                                </a>
                                }
                    <img src="@Model.PrzewodnikPracy.Rysunek" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
                    <br />
                    
                </div>
                
                    
                                </div></div>
                
            </form>
            @if (Model.PrzewodnikPracy.WynikPrzewodnika != null)
                {
                    <a asp-controller="PrzewodnikPracy" asp-action="WynikPrzewodnikaPracy" asp-route-idPrzewodnika="@Model.PrzewodnikPracy.Id" asp-route-wynik="@Model.PrzewodnikPracy.WynikPrzewodnika" class="btn btn-danger">
                <i class="bi bi-shield-check"></i> Edytuj przewodnik
                </a>
                    
            }
            else
            {
                <a asp-controller="PrzewodnikPracy" asp-action="WynikPrzewodnikaPracy" asp-route-idPrzewodnika="@Model.PrzewodnikPracy.Id" asp-route-wynik="@Model.PrzewodnikPracy.WynikPrzewodnika" class="btn btn-danger">
                <i class="bi bi-shield-check"></i> Zakończ przewodnik
                </a>
            }
            <a asp-controller="PrzewodnikPracy" asp-action="PrzewodnikPracy" asp-route-id="@Model.PrzewodnikPracy.ZamowienieId" class="btn btn-primary">
                <i class="bi bi-arrow-90deg-left"></i> Wróć do przewodnika
            </a>
@*            <a asp-controller="PrzewodnikPracy" asp-action="Rysunek" asp-route-id="@Model.Wymaganie.Id" class="btn btn-primary">
                <i class="bi bi-shield-check"></i> Rysunek
            </a>*@
        </div>
        

    </div>
</div>

@section Scripts{
    @{

    }
<script>

function ValidateInput(){
    if(document.getElementById("formFile").value==""){
        Swal.fire({
        icon: 'error',
        title: 'Wystąpił błąd',
        footer: 'Nie załadowano rysunku.',
    });
    return false;
    }
    return true;
}


</script>

}