@model PrzewodnikPracyVM
@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification" />

<div class="container p-3">


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Operacje</h6>
        </div>
        <br />
                <a asp-controller="PrzewodnikPracy" asp-action="AddOperacja" asp-route-idProcesu="@Model.Proces.Id" class="btn btn-primary" style="width:40%; ">
                                        <i class="bi bi-pencil-square"></i> Dodaj operację
                                    </a>
        <div class="card-body">
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            TrescOperacji
                        </th>
                        <th>
                            DataWykonania
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.Operacje)
                    {
                        <tr>
                            <td width="20%">
                                @obj.TrescOperacji
                            </td>
                            <td width="20%">
                                @obj.DataWykonania
                            </td>
                            <td width="20%">
                                <a asp-controller="PrzewodnikPracy" asp-action="EditOperacja" asp-route-id="@obj.Id" asp-route-idProcesu="@Model.Proces.Id" class="btn btn-info" style="width:40%; ">
                                    <i class="bi bi-pencil-square"></i> Edytuj
                                </a>

                                <a class="btn btn-danger delete"
                               data-id="@obj.Id"
                               data-controller="PrzewodnikPracy"
                               data-action="DeleteOperacja"
                               data-body-message="Czy napewno chcesz usunąć tą operację?">
                                        <i class="bi bi-trash3-fill"></i> Usuń
                                    </a>

                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>


    </div>
</div>
