@model PrzewodnikPracyVM
@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification" />

<div class="container p-3">


    <div class="card shadow mb-4" style="margin:15px">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Przewodnik pracy - @Model.Wymaganie.Nazwa</h6>
        </div>
        <div class="card-body">


            @*Operacje*@
            <div class="card shadow mb-4" style="margin:15px">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Operacje</h6>
                </div>
                <div class="card-body">

                    <a asp-controller="PrzewodnikPracy" asp-action="AddOperacja" asp-route-idPrzewodnika="@Model.PrzewodnikPracy.Id" class="btn btn-info" style="margin-right:25px; float:right">
                        <i class="bi bi-plus-circle"></i> &nbsp; Utwórz operację
                    </a>
                    @if (Model.Operacje.Any())
                    {
                        <table class="table table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        Treść operacji
                                    </th>
                                    <th>
                                        Data wykonania
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var obj in Model.Operacje)
                                {
                                    <tr>
                                        <td width="50%">
                                            @obj.TrescOperacji
                                        </td>
                                        <td width="20%">
                                            @obj.DataWykonania
                                        </td>
                                        <td width="30%">
                                            <a class="btn btn-danger delete" style="float:right"
                                       data-id="@obj.Id"
                                       data-controller="PrzewodnikPracy"
                                       data-action="DeleteOperacja"
                                       data-body-message="Czy napewno chcesz usunąć tą operację?">
                                                <i class="bi bi-trash3-fill"></i> Usuń
                                            </a>
                                            <a asp-controller="PrzewodnikPracy" asp-action="EditOperacja" asp-route-id="@obj.Id" asp-route-idWymagania="@Model.Wymaganie.Id" class="btn btn-warning" style="float:right; margin-right:10px;">
                                                <i class="bi bi-pencil-square"></i> Edytuj
                                            </a>



                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    }
                    else{
                        <p style="margin-top:15px">Brak operacji.</p>
                    }
                </div>
            </div>

            <div class="card shadow mb-4" style="margin:15px; margin-top:-5px">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Rysunek techniczny</h6>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="PrzewodnikPracy" enctype="multipart/form-data">
                        <input asp-for="PrzewodnikPracy.Rysunek" hidden />
                        <div class="mb-3">
                            <input type="file" id="formFile" name="file" class="form-control" />
                            <button type="submit" class="btn btn-info" onclick="return ValidateInput()" style="margin-top:15px; margin-bottom:15px">Zatwierdź</button>
                            <div style="display: inline">
                                <div style="display: inline">
                                    @if (Model.PrzewodnikPracy.Rysunek != null)
                                    {
                                        <a class="btn btn-danger delete" style="margin-top:15px; margin-bottom:15px"
                                       data-id="@Model.PrzewodnikPracy.Id"
                                       data-controller="PrzewodnikPracy"
                                       data-action="DeleteRysunek"
                                       data-body-message="Czy napewno chcesz usunąć ten rysunek?">
                                            <i class="bi bi-trash3-fill"></i> Usuń
                                        </a>

                                        <br />
                                        <img src="@Model.PrzewodnikPracy.Rysunek" style="border-radius:5px; width:400px; height:400px; border:1px solid #bbb9b9" id="imgtab" class='small' />
                                        <br />
                                    }

                                </div>


                            </div>
                        </div>

                    </form>
                </div>
            </div>


                    @if (Model.PrzewodnikPracy.WynikPrzewodnika != null)
                    {
                        <a asp-controller="PrzewodnikPracy" asp-action="WynikPrzewodnikaPracy" asp-route-idPrzewodnika="@Model.PrzewodnikPracy.Id" asp-route-wynik="@Model.PrzewodnikPracy.WynikPrzewodnika" class="btn btn-success">
                            <i class="bi bi-shield-check"></i> Zakończono przewodnik
                        </a>

                    }
                    else
                    {
                        <a asp-controller="PrzewodnikPracy" asp-action="WynikPrzewodnikaPracy" asp-route-idPrzewodnika="@Model.PrzewodnikPracy.Id" asp-route-wynik="@Model.PrzewodnikPracy.WynikPrzewodnika" class="btn btn-danger">
                            <i class="bi bi-shield-check"></i> Zakończ przewodnik
                        </a>
                    }
                    <a asp-controller="PrzewodnikPracy" asp-action="ListaPrzewodnikowPracy" asp-route-id="@Model.Zamowienie.Id" class="btn btn-primary">
                        <i class="bi bi-arrow-90deg-left"></i> Powrót
                    </a>
                    @*            <a asp-controller="PrzewodnikPracy" asp-action="Rysunek" asp-route-id="@Model.Wymaganie.Id" class="btn btn-primary">
                    <i class="bi bi-shield-check"></i> Rysunek
                    </a>*@
                


        </div>
    </div>
</div>
@section Scripts{
    @{

    }
    <script>

        function ValidateInput() {
            if (document.getElementById("formFile").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Wystąpił błąd',
                    footer: 'Nie załadowano rysunku.',
                });
                return false;
            }
            return true;
        }

        $(document).ready(function () {
            var small = { width: "400px", height: "400px" };
            var large = { width: "100%", height: "100%" };
            var count = 1;
            $("#imgtab").css(small).on('click', function () {
                $(this).animate((count == 1) ? large : small);
                count = 1 - count;
            });
        });


    </script>

    }
