@model PrzegladVM
@{
    ViewData["Title"] = "Index";
    var query =
    from pyt in Model.Pytania
    join odp in Model.Odpowiedzi on pyt.Id equals odp.PytanieId into op
    from pytodp in op.DefaultIfEmpty()
    select new
    {
        pyt.Nazwa,
        pyt.Id,
        Odpow = pytodp?.Status ?? string.Empty,
        IdOdp = pytodp?.Id
    };
}
<partial name="_Notification" />

<div class="container p-3">
        <div class="card shadow mb-4" style="margin:15px">
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Przegląd zamówieia</h6>
        </div>
        <br />

        <div class="card-body">
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Odpowiedź</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in query)
                    {
                        <tr>
                            <td width="65%">
                                @obj.Nazwa
                            </td>
                            <td width="15%">
                                @if (obj.Odpow == string.Empty)
                                {
                                     <div>-</div>
                                }
                                else
                                {
                                   @obj.Odpow 
                                }
                                
                            </td>
                            

                            <td style="text-align: center">
                                @if (obj.Odpow == string.Empty)
                                {
                                    <a asp-controller="Przeglad" asp-action="AddOdpowiedz" asp-route-idZamowienia="@Model.Zamowienie.Id" asp-route-idPytania="@obj.Id" class="btn btn-info" style="width:165px">
                                        <i class="bi bi-pencil-square"></i> Odpowiedz
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="Przeglad" asp-action="EditOdpowiedz" asp-route-idOdpowiedzi="@obj.IdOdp" asp-route-idZamowienia="@Model.Zamowienie.Id" asp-route-idPytania="@obj.Id" class="btn btn-warning" style="width:165px">
                                        <i class="bi bi-pencil-square"></i> Edytuj
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (Model.Odpowiedzi.Count() == Model.Pytania.Count())
        {

                @if (Model.Przeglad.WynikPrzegladu != "Nie wykonano")
                {
                    <a asp-controller="Przeglad" asp-action="EditWynikPrzegladu" asp-route-id="@Model.Przeglad.Id" asp-route-idZamowienia="@Model.Zamowienie.Id" class="btn btn-success" style="margin-right:5px; float:right;">
                <i class="bi bi-shield-check"></i> Przegląd został zakończony
            </a>
                }
                else
                {
                    <a asp-controller="Przeglad" asp-action="AddWynikPrzegladu" asp-route-id="@Model.Przeglad.Id" asp-route-idZamowienia="@Model.Zamowienie.Id" class="btn btn-info" style="margin-right:5px; float:right;">
                <i class="bi bi-shield-check"></i> Wynik przeglądu
            </a>
                    
                }
        }
        <a asp-controller="Zamowienie" asp-action="DetailsZamowienia" asp-route-id="@Model.Zamowienie.Id" class="btn btn-primary">
                <i class="bi bi-arrow-90deg-left"></i> Wróć do zamówienia
            </a>
        </div>
        
    </div>
</div>