@model PrzegladVM
@{
    ViewData["Title"] = "Index";
    var query =
    from pyt in Model.Pytania
    join odp in Model.Odpowiedzi on pyt.Id equals odp.PytanieId into op
    from pytodp in op.DefaultIfEmpty()
    select new
    {
        pyt.Nazwa,
        pyt.Id,
        Odpow = pytodp?.Status ?? string.Empty,
        IdOdp = pytodp?.Id
    };
}
<partial name="_Notification" />

<div class="col-xl-12">
    <div class="card mb-4">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">Przegląd zamówienia</h6>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Nazwa</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in query)
                    {
                        <tr>
                            <td width="70%">
                                @obj.Nazwa
                            </td>
                            <td>
                                @if (obj.Odpow == string.Empty)
                                {
                                    <a asp-controller="Przeglad" asp-action="AddOdpowiedz" asp-route-idZamowienia="@Model.Zamowienie.Id" asp-route-idPytania="@obj.Id" class="btn btn-primary" style="width:40%; ">
                                        <i class="bi bi-pencil-square"></i> Odpowiedz
                                    </a>
                                }
                                else
                                {
                                    @obj.Odpow
                                    <a asp-controller="Przeglad" asp-action="EditOdpowiedz" asp-route-idOdpowiedzi="@obj.IdOdp" asp-route-idZamowienia="@Model.Zamowienie.Id" asp-route-idPytania="@obj.Id" class="btn btn-primary" style="width:40%; ">
                                        <i class="bi bi-pencil-square"></i> Edytuj
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>