@model SwiadectwoJakosciVM
@{
    ViewData["Title"] = "Index";
    var query =
    from wym in Model.Wymagania
    join przew in Model.PrzewodnikiPracy on wym.Id equals przew.WymaganieId
    join swia in Model.SwiadectwaJakosci on wym.Id equals swia.WymaganieId
    select new
    {
        wym.Nazwa,
        wym.Id,
        wym.Ilosc,
        przew.NumerRysunku,
        swia.WynikSwiadectwa,
        Idswia = swia?.Id,
        Wynik = swia?.WynikSwiadectwa
    };
}
<partial name="_Notification" />

<div class="container p-3">


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista wykonanych części lub zespołów</h6>
        </div>
        <br />
        <div class="card-body">
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Nazwa części
                        </th>
                        <th>
                            Ilość
                        </th>
                        <th>
                            Numer rysunku
                        </th>
                        <th>
                            Wynik świadectwa
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in query)
                    {
                        <tr>
                            <td width="40%">
                                @obj.Nazwa
                            </td>
                            <td width="10%">
                                @obj.Ilosc
                            </td>
                            <td width="10%">
                                @if (obj.NumerRysunku == null)
                                {
                                    <h1>brak</h1>
                                }
                                else
                                {
                                    @obj.NumerRysunku
                                }
                            </td>
                            <td width="20%">
                                @if (obj.WynikSwiadectwa == null)
                                {
                                    <div>-</div>
                                }
                                else
                                {
                                    @obj.WynikSwiadectwa
                                }
                            </td>
                            <td width="20%">
                                @if (obj.WynikSwiadectwa == null)
                                {
                                    <a asp-controller="SwiadectwoJakosci" asp-action="WynikSwiadectwaJakosci" asp-route-idSwiadectwa="@obj.Idswia" class="btn btn-primary" style="width:150px">
                                        <i class="bi bi-shield-check"></i> Zakończ
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="SwiadectwoJakosci" asp-action="WynikSwiadectwaJakosci" asp-route-idSwiadectwa="@obj.Idswia" style="width:150px" class="btn btn-primary">
                                        <i class="bi bi-shield-check"></i> Edytuj
                                    </a>
                                }
                                
                            </td>

                        </tr>

                    }
                </tbody>
            </table>
            <a asp-controller="Zamowienie" asp-action="DetailsZamowienia" asp-route-id="@Model.Zamowienie.Id" class="btn btn-primary">
                <i class="bi bi-arrow-90deg-left"></i> Wróć do zamówienia
            </a>
        </div>


    </div>
</div>
