@model ZamowienieWymaganieVM
@{
<partial name="_Notification" />

    int edit = 3;
};
<div class="container p-3">
    @if (Model.Wymagania.Any())
    {
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Wymagania do zamówienia</h6>
            </div>
            <div class="card-body">
                <a href="#section1">Go Section 1</a>
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nazwa wymagania</th>
                            <th>Ilość</th>
                            <th></th>

                        </tr>
                        @foreach (var obj in Model.Wymagania)
                        {
                            <tr>
                                <td width="65%">@obj.Nazwa</td>
                                <td width="10%">@obj.Ilosc</td>
                                <td width="40%">
                                    <a asp-controller="Zamowienie" asp-action="EditWymaganie" asp-route-wymaganieId="@obj.Id" asp-route-id="@obj.ZamowienieId" asp-route-editId="@edit" class="btn btn-info">
                                        <i class="bi bi-pencil-square"></i> Edytuj
                                    </a>
                                    <a class="btn btn-danger delete"
                               data-id="@obj.Id"
                               data-controller="Zamowienie"
                               data-action="DeleteWymaganie"
                               data-body-message="Czy napewno chcesz usunąć to wymaganie?">
                                        <i class="bi bi-trash3-fill"></i> Usuń
                                    </a>
                                </td>

                            </tr>
                        }
                </table>

            </div>
        </div>
    }

    <form method="post">
        <div class="col-xl-12">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Utwórz wymaganie do wykonania</h6>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label asp-for="Wymaganie.Nazwa"></label>
                        <input asp-for="Wymaganie.Nazwa" class="form-control" />
                        <span asp-validation-for="Wymaganie.Nazwa" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Wymaganie.Ilosc"></label>
                        <input asp-for="Wymaganie.Ilosc" class="form-control" value="1" />
                        <span asp-validation-for="Wymaganie.Ilosc" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Wymaganie.Material"></label>
                        <input asp-for="Wymaganie.Material" class="form-control" />
                        <span asp-validation-for="Wymaganie.Material" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Wymaganie.Opis"></label>
                        <input asp-for="Wymaganie.Opis" class="form-control" />
                        <span asp-validation-for="Wymaganie.Opis" class="text-danger"></span>
                    </div>
                    <button type="submit" name="SubmitForm" value="AddWymaganie" class="btn btn-primary">Dodaj wymaganie</button>

                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Uwagi do zamówienia</h6>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label>Uwagi do zamówienia</label>
                        <textarea asp-for="Zamowienie.UwagiZamowienia" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                        <span asp-validation-for="Zamowienie.UwagiZamowienia" class="text-danger"></span>
                    </div>
                    <button type="submit" id="section1" name="SubmitForm" value="Create" formnovalidate class="btn btn-info">Zakończ zamówienie</button>
                </div>
            </div>
        </div>
    </form>
</div>







@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
    <script>

        $(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.substr(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            });
        });
    </script>
    }