@model ZamowienieProcesVM

<partial name="_Notification" />

<div class="col-xl-12">
    <div class="card mb-4">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">Dane zamówienia</h6>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Zamowienia.Nazwa)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Zamowienia.Nazwa)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Zamowienia.UwagiZamowienia)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Zamowienia.UwagiZamowienia)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Zamowienia.DataZamowienia)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Zamowienia.DataZamowienia)
                </dd>
            </dl>
            @*<div class="card">
                <div class="card-body">
                This is some text within a card body.
                </div>
                </div>*@
        </div>
        <hr />
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">Procesy</h6>
        </div>

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Wymaganie</th>

                </tr>
                @foreach (var obj in Model.Procesy)
                {
                    <tr>
                        <td width="30%">@obj.Nazwa</td>
                        <td width="70%">@obj.Opis</td>
                    </tr>
                }
        </table>

    </div>
    <a asp-controller="Zamowienie" asp-action="CreateProces" asp-route-id="@Model.Zamowienia.Id" class="btn btn-primary">
        Dodaj wymaganie
    </a>
    <a asp-controller="Zamowienie" asp-action="Edit" asp-route-id="@Model.Zamowienia.Id" class="btn btn-warning">
        <i class="bi bi-pencil-square"></i> Edytuj
    </a>
    <a asp-controller="Przeglad" asp-action="PrzegladZamowienia" asp-route-idZamowienia="@Model.Zamowienia.Id" class="btn btn-warning">
        <i class="bi bi-pencil-square"></i> Przegląd zamówienia
    </a>
</div>