@model KartaProjektuVM
@{
    ViewData["Title"] = "Karta projektu";

    var query =
    from wym in Model.Wymagania
    join przew in Model.Przewodniki on wym.Id equals przew.WymaganieId
    join swia in Model.Swiadectwa on wym.Id equals swia.WymaganieId
    select new
    {
        wym.Nazwa,
        przew.WynikPrzewodnika,
        przew.ZidentyfikowaneProblemy,
        przew.PlanowaneDzialania,
        swia.WynikSwiadectwa,
        SwiaProblemy = swia?.ZidentyfikowaneProblemy,
        SwiaDzialania = swia?.PlanowaneDzialania,
    };
}
<partial name="_Notification" />

<div class="container p-3">


    <div class="card shadow mb-4" style="margin:15px">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Karta Projektu</h6>
        </div>
        <div class="card-body">


            @*Tabela wymagań*@
            <div class="card shadow mb-4" style="margin:15px">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">I. Dane wejściowe</h6>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    Nazwa dokumentu
                                </th>
                                <th>
                                    Nr dokumentu
                                </th>
                                <th>
                                    Uwagi
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model.Wymagania)
                            {
                                <tr>
                                    <td width="20%">
                                        @obj.Nazwa
                                    </td>
                                    <td width="20%">
                                        @obj.Zamowienie.Nazwa
                                    </td>

                                    <td width="20%">
                                        @if (obj.Zamowienie.UwagiZamowienia == null)
                                        {
                                            <h8>N/D</h8>
                                        }
                                        else
                                        {
                                            @obj.Zamowienie.UwagiZamowienia
                                        }
                                    </td>


                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>

            @*Przegląd projektu*@
            @if (Model.Przeglady.Any())
            {
                <div class="card shadow mb-4" style="margin:15px; margin-top:-5px">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">II. Przegląd projektu</h6>
                    </div>
                    <div class="card-body">

                        <table class="table table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        Wynik przeglądu
                                    </th>
                                    <th>
                                        Zindetyfikowane problemy
                                    </th>
                                    <th>
                                        Planowane działania
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var obj in Model.Przeglady)
                                {
                                    @if (obj.WynikPrzegladu == null)
                                    {
                                        <tr>
                                            <td width="100%">
                                                Nie ukończono przeglądu
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td width="33%">
                                                @obj.WynikPrzegladu
                                            </td>
                                            <td width="33%">
                                                @if (obj.ZidentyfikowaneProblemy == null)
                                                {
                                                    <h8>N/D</h8>
                                                }
                                                else
                                                {
                                                    @obj.ZidentyfikowaneProblemy
                                                }
                                            </td>
                                            <td width="33%">
                                                @if (obj.PlanowaneDzialania == null)
                                                {
                                                    <h8>N/D</h8>
                                                }
                                                else
                                                {
                                                    @obj.PlanowaneDzialania
                                                }

                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            }
            else
            {

            }

            @*Przewodnik pracy*@
            @if (Model.Przewodniki.Any())
            {
                <div class="card shadow mb-4" style="margin:15px; margin-top:-5px">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">III. Weryfikacja projektu</h6>
                    </div>
                    <div class="card-body">

                        <table class="table table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        Wynik weryfikacji
                                    </th>
                                    <th>
                                        Zindetyfikowane problemy
                                    </th>
                                    <th>
                                        Planowane działania
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var obj in query)
                                {
                                    @if (obj.WynikPrzewodnika == "")
                                    {
                                        <tr>
                                            <td width="33%">
                                                Nie wykonano
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td width="33%">
                                                @obj.WynikPrzewodnika
                                            </td>
                                            <td width="33%">
                                                @if (obj.ZidentyfikowaneProblemy == null)
                                                {
                                                    <h8>N/D</h8>
                                                }
                                                else
                                                {
                                                    @obj.ZidentyfikowaneProblemy
                                                }
                                            </td>
                                            <td width="33%">
                                                @if (obj.PlanowaneDzialania == null)
                                                {
                                                    <h8>N/D</h8>
                                                }
                                                else
                                                {
                                                    @obj.PlanowaneDzialania
                                                }

                                            </td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            }
            else
            {

            }



            @*Świadectwo jakości*@
            @if (Model.Swiadectwa.Any())
            {
                <div class="card shadow mb-4" style="margin:15px; margin-top:-5px">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">IV. Walidacja projektu</h6>
                    </div>
                    <div class="card-body">

                        <table class="table table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        Wynik walidacji
                                    </th>
                                    <th>
                                        Zindetyfikowane problemy
                                    </th>
                                    <th>
                                        Planowane działania
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var obj in query)
                                {
                                    @if (obj.WynikSwiadectwa == "")
                                    {
                                        <tr>
                                            <td width="33%">
                                                Nie wykonano
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td width="33%">
                                                @obj.WynikSwiadectwa
                                            </td>
                                            <td width="33%">
                                                @if (obj.SwiaProblemy == null)
                                                {
                                                    <h8>N/D</h8>
                                                }
                                                else
                                                {
                                                    @obj.SwiaProblemy
                                                }
                                            </td>
                                            <td width="33%">
                                                @if (obj.SwiaDzialania == null)
                                                {
                                                    <h8>N/D</h8>
                                                }
                                                else
                                                {
                                                    @obj.SwiaDzialania
                                                }

                                            </td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            }
            else
            {

            }

            @*Przegląd projektu*@
            @if (Model.ZadowolenieKlienta != null)
            {
                <div class="card shadow mb-4" style="margin:15px; margin-top:-5px">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">V. Zadowolenie klienta</h6>
                    </div>
                    <div class="card-body">

                        <table class="table table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        Czas realizacji
                                    </th>
                                    <th>
                                        Jakość realizacji
                                    </th>
                                    <th>
                                        Uwagi
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                        <tr>
                                            <td width="33%">
                                                @Model.ZadowolenieKlienta.CzasRealizacji
                                            </td>
                                            <td width="33%">
      
                                                    @Model.ZadowolenieKlienta.Jakosc
                                            </td>
                                            <td width="33%">
                                                @if (Model.ZadowolenieKlienta.Uwagi == null)
                                                {
                                                    <h8>N/D</h8>
                                                }
                                                else
                                                {
                                                    @Model.ZadowolenieKlienta.Uwagi
                                                }

                                            </td>
                                        </tr>
 
                                
                            </tbody>
                        </table>
                    </div>

                </div>
            }
            else
            {

            }

            <a asp-controller="Zamowienie" asp-action="DetailsZamowienia" asp-route-id="@Model.Zamowienie.Id" class="btn btn-dark">
                <i class="bi bi-arrow-left-circle"></i> Wróć do zamówienia
            </a>
        </div>
    </div>

</div>