@model NarzedzieTypVM
@{
    ViewData["Title"] = "Szczególy narzędzia";
}
<partial name="_Notification" />

<div class="container p-3">
    <div class="card shadow mb-4" style="margin:15px">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@Model.Narzedzie.Nazwa</h6>
        </div>
        <br />

        <div class="card-body">

            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Narzedzie.Nazwa)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Narzedzie.Nazwa)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Narzedzie.NumerFabryczny)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Narzedzie.NumerFabryczny)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.TypNarzedzia.NazwaTypu)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.TypNarzedzia.NazwaTypu)
                </dd>
                <dt class="col-sm-3">
                    Obsługa metrologiczna
                </dt>
                <dd class="col-sm-9">
                    @if (Model.Narzedzie.ObslugaMetrologiczna == true)
                    {
                        <h7>Tak</h7>
                    }
                    else
                    {
                        <h7>Nie</h7>
                    }
                </dd>
                @if (Model.Narzedzie.ObslugaMetrologiczna == true)
                {
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ObslugaMetrologiczna.DataObslugi)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ObslugaMetrologiczna.DataObslugi)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ObslugaMetrologiczna.DataWaznosci)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ObslugaMetrologiczna.DataWaznosci)
                    </dd>
                }
            </dl>




            <a class="btn btn-danger delete"
               data-id="@Model.Narzedzie.Id"
               data-controller="Narzedzie"
               data-action="Delete"
               redirectUrl="Index"
               data-body-message="Czy napewno chcesz usunąć to narzędzie?">
                <i class="bi bi-trash3-fill"></i> Usuń
            </a>
            <a asp-controller="Narzedzie" asp-action="Upsert" asp-route-id="@Model.Narzedzie.Id" class="btn btn-warning">
                <i class="bi bi-pencil-square"></i> Edytuj
            </a>

            @if (Model.Narzedzie.ObslugaMetrologiczna == true)
            {
                <span class="btn btn-xs btn-primary" id="@Model.Narzedzie.Id" onclick="createModal('@Url.Action("EditDataObslugi", "Narzedzie", new { id = Model.Narzedzie.Id })')">Aktualizuj datę</span>
            }

            <a asp-controller="Narzedzie" asp-action="Index" class="btn btn-dark" style="margin-right:5px; float:right;"><i class="bi bi-tools"></i> Lista narzędzi</a>
        </div>


        <div class="modal" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="modelContent">
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    function createModal(url){
          $('#modelContent').load(url);
          $('#myModal').modal('show');
    }
</script>